.bodies-table {
    width: 100%;
    max-height: 500px;
    font-size: 0.8rem;
}

.bodies-table * {
    cursor: pointer;
}

.bodies-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    color: black;
}

.bodies-table table thead tr {
    background-color: #ccc;
}

.bodies-table table tbody tr {
    background-color: #fff;
}

.bodies-table table th,
.bodies-table table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
    vertical-align: top;
}

.bodies-table .row span {
    font-size: 0.65rem;
}
